# Nix
**/.direnv/
**/result/
**/result-*/

# Editor
**/.idea/
**/.vscode/

# Deno
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
_cache
_fresh/
_site
node_modules/
outputs/
