---
layout: page.vto
---
{{ content }}
<iframe
  plausible-embed
  src="https://stats.ysun.co/share/ysun.co?auth=3iFgLFb18-zpNdn_2Ow64&embed=true&theme=dark&background=%232E3440"
  scrolling="no"
  class="min-w-full min-h-screen border-0"
  title="Plausible Analytics"
>
</iframe>
<script async src="https://stats.ysun.co/js/embed.host.js"></script>
