---
layout: page.vto
---
{{ content }}
<iframe
    plausible-embed
    src="https://stats.ysun.co/share/ysun.co?auth=klGcRmSwwwUUJfBM1R1MB&embed=true&theme=system&background=transparent"
    scrolling="no"
    loading="lazy"
    class="min-w-full min-h-screen border-0"
    title="Plausible Analytics"
>
</iframe>
<script async src="https://stats.ysun.co/js/embed.host.js"></script>
