<header class="prose flex flex-row items-center justify-between">
  <section class="prose flex flex-row items-center justify-start gap-4">
    <a class="no-underline" href="https://home.ysun.co"><small>~</small></a>
    <span><small>|</small></span>
    <a class="no-underline" href="https://ysun.co/"><small>/</small></a>
    <span><small>|</small></span>
    <a class="no-underline" href="https://ysun.co/stats/"><small>&lowast;</small></a>
  </section>
  <section class="prose flex flex-row items-center justify-end gap-4">
    <a class="no-underline" href="https://read.ysun.co/login?next=%2F"><small>Calibre</small></a>
    <span><small>|</small></span>
    <a class="no-underline" href="https://hydra.ysun.co/project/stepbrobd"><small>Hydra</small></a>
    <span><small>|</small></span>
    <a class="no-underline" href="https://sso.ysun.co/ui/login"><small>SSO</small></a>
  </section>
</header>
