<header class="prose container mx-auto flex flex-row items-center justify-start py-4 gap-4">
  <a href="/"><small>Home</small></a>
  <span><small>|</small></span>
  <a href="/stats"><small>Stats</small></a>
  <span><small>|</small></span>
  <a href="/feed.rss"><small>RSS</small></a>
</header>
