---
layout: page.vto
---
<head>
  <meta http-equiv="refresh" content="0; url={{ external }}">
  <script type="text/javascript">
    window.location.href = "{{ external }}";
  </script>
</head>
<p>You are being redirected. You can navigate to the target URL <a href="{{ external }}">here</a>.</p>
