<nav class="grid grid-cols-3 items-center" aria-label="The gskr.ing webring">
  <div class="justify-self-start">
    <a
      href="https://gskr.ing/u/ysun/pred"
      aria-label="Previous site in webring"
    >
      &lt; Pred
    </a>
  </div>
  <div class="justify-self-center">
    <a href="https://gskr.ing" class="gskring" aria-label="The gskr.ing webring">
      gsk<span>r.ing</span>
    </a>
  </div>
  <div class="justify-self-end">
    <a
      href="https://gskr.ing/u/ysun/succ"
      aria-label="Next site in webring"
    >
      Succ &gt;
    </a>
  </div>
</nav>
