<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/style/lume.css">
    <link rel="stylesheet" href="/assets/style/tailwind.css">
    <link rel="icon" href="https://ysun.co/favicon.ico">
    <title>{{ title }}</title>
  </head>
  <body class="flex flex-col min-h-screen p-4 gap-8">
    <div class="prose container mx-auto">
      {{ include "header.vto" }}
    </div>
    <main class="prose flex-grow container mx-auto">
      <article lang="en-US" class="prose container mx-auto">
        {{ content }}
      </article>
    </main>
    <div class="prose container mx-auto">
      {{ include "footer.vto" }}
    </div>
  </body>
</html>
