<header class="flex flex-row items-center justify-between">
  <nav class="flex flex-row items-center justify-start gap-4">
    <a href="https://home.ysun.co"><small>~</small></a>
    <span><small>|</small></span>
    <a href="https://ysun.co/"><small>/</small></a>
    <span><small>|</small></span>
    <a href="https://ysun.co/stats/"><small>&lowast;</small></a>
  </nav>
  {% include "pkgs/ysun/static/templates/access" %}
</header>
